body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#app {
    background-color: rgb(171, 193, 209);
    width: 320px;
    border-radius: 8px;
}


#todo-list {
    height: 420px;
}


h2 {
    text-align: center;
    width: 320px;
    height: 45px;
    border-bottom: 1px solid white;
    margin: 5px 5px;
    padding-top: 23px;
}



#todo-form{
    width: 320px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid white;
}

input {
    border: none;
    width: 240px;
    height: 45px;
    padding: 1px 2px 1px 10px;
}

#submitBtn {
    background-color: #fae161;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 47px;
    padding: 1px 6px;
}

li {
    background-color: #fae161;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 190px;
    height: 40px;
    margin: 0px 0px 10px;
    right: -60px;
    padding-left: 10px;
}

li.done {
    background-color: #EAEAEA
}


span {
    width: 14px;
    height: 14px;
    background-color: rgb(234, 234, 234);
    opacity: 70%;
    border-radius: 8px;
    left: -18px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3px;
}