.game {
    background: url("img/background.png") center/cover;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
}

.game_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game_field {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    position: relative;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.playBtn {
    background-color: sandybrown;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    border: 3px black solid;
    font-size: 35px;
    padding-top: 4px;
    margin-top: -7px;
    margin-bottom: 8px;
}

.stopBtn {
    background-color: sandybrown;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    border: 3px black solid;
    font-size: 35px;
    padding-top: 4px;
    margin-top: -7px;
    margin-bottom: 8px;
}

.timer {
    width: 110px;
    height: 35px;
    background-color: white;
    border: 4px black solid;
    border-radius: 9px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 6px;
}

.score {
    background-color: #f1d3b0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px black solid;
    color: white;
    font-size: 45px;
    text-align: center;
}

.pop-up {
    font-size: 45px;
    font-family: Serif;
    border-style: none;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    display: block;
    margin: auto;
    transform: translateY(-120%);
}

pop-up--hide {
    display: none;
}

.replayBtn{
    font-size: 50px;
    padding: 0 0 0 0;
    background-color: #f1d3b0;
    border: 2px black solid;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
    width: 60px;
    transition: transform 300ms ease-in;
}

.replayBtn:hover {
    transform: scale(1.1);
}

.win {
    position: relative;
    padding-top: 20px;
}

.lose {
    position: relative;
    padding-top: 20px;
}

body {
    text-align: center;
    background-color: black;
}