body {
    background-color: rgb(213, 218, 218);
    width: 320px;
    height: 470px;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
}

.container {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;
}

h2 {
    margin: 10px;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemList {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 320px;
    height: 450px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    margin-bottom: 25px;
}

ul {
    list-style: none;
    position: relative;
    padding-left: 20px;
    width: 100%;
}

.item {
    padding-left: 7px;
}


.itemdivider {
    width: 95%;
    height: 1px;
    background-color: #b6b3b3;
    margin-bottom: 15px;
    margin-top: 10px;
}

.deleteBtn {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    position: absolute;
    right: 23px;
    cursor: pointer;
    border-style: none;
    font-size: 15px;
}

input {
    width: 316px;
    height: 27px;
    border-style: none;
    position: absolute;
    bottom: 45px;
}

.input {
    width: 100%;
    height: 44px;
    border: 1px none black;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 0 0 10px 10px;
}

.inputBox {
    outline: none;
    padding: 0 15px;
    width: 290px;
}

.plusBtn {
    border-style: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 38px;
    height: 38px;
    font-size: 35px;
    padding: 0;
    cursor: pointer;
}

